.polotno {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

@media (width <= 901px) {
    .container {
        max-width: 800px;
    }
}

@media screen and (width <= 801px) {
    .container {
        max-width: 600px;
    }
}
