.button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 12px;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    background-color: rgb(139 139 139 / 56.2%);
    border-radius: 8px;

    &:hover {
        background-color: rgb(139 139 139 / 80%);
    }

    &__active {
        border: 3px solid gray;
    }
}
