.tabs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    background-color: rgb(156 156 156 / 43.8%);

    &__buttons {
        display: flex;
        gap: 5px;
        margin: 0 auto;
    }

    &__item {
        padding: 5px 10px;
        background-color: gray;

        &_content {
            height: 300px;
            padding: 15px;
            overflow-y: scroll;
            background-color: rgb(49 49 49);

            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-track {
                background: #adadad;
                border-radius: 2px;
            }

            &::-webkit-scrollbar-thumb {
                background: #888888;
                border-radius: 2px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #555555;
            }
        }
    }
}
